<div class="container">
    <div class="content">
        <header>        
            <h1 *ngIf="type=='returnRequest'">Dettagli richiesta di reso n.{{idEmployeeRequest}}</h1>
            <h1 *ngIf="type=='productRequest'">Dettagli richiesta di prodotto n.{{idEmployeeRequest}}</h1>
            <!--Croce per chiudere la finestra-->
            <span (click)="onClose()" class="material-icons close">close</span>
        </header>
        <form>
            <div class="form-group">
                <input [disabled]="true" type="text" class="form-control" id="title" name="title" [(ngModel)]="title" placeholder="Titolo">
            </div>
            <div class="form-group">
                <textarea [disabled]="true" type="text" class="form-control" id="description" name="description" [(ngModel)]="description" placeholder="Descrizione" rows="4" cols="50"></textarea>
            </div>
            <div class="form-group">
                <input [disabled]="true" class="form-control" type="text" id="status" name="status" [(ngModel)]="status" placeholder="Status">
            </div>
            <div class="form-group">
                <input [disabled]="true" class="form-control" type="date" id="date" name="date" [(ngModel)]="date" placeholder="Data">
            </div>
            <div class="form-group">
                <input [disabled]="true" class="form-control" type="text" id="employee" name="employee" [(ngModel)]="emailUser" placeholder="Dipendente">
            </div>
            <div class="form-group">
                <input [disabled]="true" class="form-control" type="text" id="product" name="product" [(ngModel)]="nameItem" placeholder="Prodotto">
            </div>
            <div *ngIf="status == 'pending'" class="form-group btn-row">
                <button (click)="acceptRequest()" class="btn btn-success">Accetta</button>
                <button (click)="rejectRequest()" class="btn btn-danger">Rifiuta</button>
            </div>
        </form>
    </div>
</div>
