
<div class="container">
  <table class="content table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">First</th>
        <th scope="col">Last</th>
        <th scope="col">posizione</th>
        <th scope="col">Actions</th> <!-- Aggiunta una nuova colonna per le azioni -->
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of userList | keyvalue">
        <th scope="row">{{user.key}}</th>
        <td>{{user.value}}</td>
        
        <td> <!-- Aggiunti due pulsanti per ogni riga -->
          <button class="btn btn-success" style="background-color: green;" (click)="promoteUser(user)">Promuovi</button>
          <button class="btn btn-danger" style="background-color: red;" (click)="banUser(user)">Banna</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
