<div class="container">
  <table>
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">First</th>
        <th scope="col">Last</th>
        <th scope="col">posizione</th>
        <th scope="col">Actions</th> <!-- Aggiunta una nuova colonna per le azioni -->
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of userList">
        <th scope="row">{{ user.idUser }}</th>
        <td>{{ user.name }}</td>
        <td>{{ user.surname }}</td>
        <td>{{ user.role }}</td>
        <td>
          <button class="btn btn-primary" (click)="promoteUser(user.idUser)">Edit</button> <!-- Aggiunto un bottone per modificare l'utente -->
          <button class="btn btn-danger" (click)="promoteUser(user.idUser)">Delete</button> <!-- Aggiunto un bottone per eliminare l'utente -->
        </td>
      </tr>
    </tbody>
  </table>
</div>
