<app-header></app-header>
<div class="container">
    <div id="box" class="grid">
        <div *ngFor="let user of users" class="item">
            <div class="item-body">
                <div class="item-footer">
                    <h5 class="item-title">{{ user.name }}</h5>
                </div>
                <div class="item-buttons">
                    <button class="btn btn-primary" (click)="onPromote(user)">Promuovi</button>
                    <button class="btn btn-primary" (click)="onBan(user)">Banna</button>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="users.length == 0" class="no-products">
        <h1>Nessun utente registrato</h1>
    </div>
    <div *ngIf="userDetailsWindow" class="add-product">
        <app-add-product (onEvent)="OnCloseUserDetails()"></app-add-product>
    </div>
</div>