<header>
    <!-- Barra di ricerca -->
    <div class="search-bar">
        <!-- Menu a tendina categorie -->
        <div class="dropdown">
            <button class="btn-primary" type="button">
                <!-- Prende il valore dalla categoria selezionata -->
                <span>{{category}}</span>
            </button>
            <div class="dropdown-content">
                <ng-container *ngFor="let category of categories">
                    <a *ngIf="category.visible" (click)="setCategory(category.name)">{{ category.name }}</a>
                </ng-container>
            </div>
        </div>
        <!-- Barra di ricerca -->
        <!-- Prende il valore dalla barra di ricerca quando clicco sul bottone -->
        <input type="text" id="search" placeholder="Cerca..." [(ngModel)]="searchValue" (blur)="onSearch()">
        <!-- Aggiungi l'evento di output per l'evento di ricerca -->
        <button class="btn-primary" (click)="onSearch()">
            <span class="material-icons">search</span>
        </button>
    </div>
</header>
