.router-outlet {
  width: clamp(600px, 75%, 90%);
  align-items: center;
}

.main {
  /* allinea orizzontalmente al centro */
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.full-width {
  padding-left: 0;
}

.sidebar-open {
  padding-left: 260px;
}

@media (max-width: 767.33px) {
  .router-outlet {
    width: 100%;
  }
}
