.content {
    max-width: 450px; /* Limita la larghezza massima del form */
    width: 100%;
    padding: 20px; /* Spazio intorno al contenitore */
    background-color: #f8f9fa; /* Sfondo leggero per il form */
    border-radius: 8px; /* Bordi arrotondati */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Ombra leggera */
}
/* Responsive adjustments */
@media (min-width: 992px) and (max-width: 1099px) {
    .content {
        width: calc(100vw - 40px); /* Limita la larghezza massima del form */
        padding: 20px; /* Spazio intorno al contenitore */
        background-color: #f8f9fa; /* Sfondo leggero per il form */
        border-radius: 8px; /* Bordi arrotondati */
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Ombra leggera */
    }
}
@media (min-width: 768px) and (max-width: 991.5px) {
    .content {
        width: calc(100vw - 40px); /* Limita la larghezza massima del form */
        padding: 20px; /* Spazio intorno al contenitore */
        background-color: #f8f9fa; /* Sfondo leggero per il form */
        border-radius: 8px; /* Bordi arrotondati */
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Ombra leggera */
    }
}

/* Stili per schermi piccoli (Mobile) */
@media (max-width: 767px) {
    .content {
        width: calc(100vw - 40px); /* Limita la larghezza massima del form */ 
        padding: 20px; /* Spazio intorno al contenitore */
        background-color: #f8f9fa; /* Sfondo leggero per il form */
        border-radius: 8px; /* Bordi arrotondati */
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Ombra leggera */
    }
}