.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    height: fit-content;
    z-index: 0;
    margin-top: 80px;
}

.popup-window{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.5);
}

.item-assign-red{
    color: red;
}

.item-assign-green{
    color: green;
}

@media (max-width: 777.20px) {
    header {
        top: 55px;
    }
    .container {
        margin-top: 60px;
    }
}

