<app-header (searchEvent)="onSearch($event)"></app-header>
<div class="container">
    <div class="column">
        <h1>Richieste di reso</h1>
        <div *ngIf="returnedRequests.length == 0" class="no-products">
            <h1>Nessuna richiesta</h1>
        </div>
        <div *ngFor="let request of returnedRequests">
            <div class="card">
                <div class="card-header">
                    <h2>{{request.title}}</h2>
                </div>
                <div class="card-body">
                    <div class="card-row">
                        <h5>Da: </h5>
                        <span>{{request.requestingUser?.email}}</span>
                    </div>
                    <div *ngIf="request.status == 'pending'" class="card-row">
                        <h5>Stato: </h5>
                        <span class="material-icons">pending</span>
                        <p>In attesa</p>
                    </div>
                    <div *ngIf="request.status == 'accepted'" class="card-row">
                        <h5>Stato: </h5>
                        <span class="material-icons">done</span>
                        <p *ngIf="request.status == 'accepted'">Accettata</p>
                    </div>
                    <div *ngIf="request.status == 'rejected'" class="card-row">
                        <h5>Stato: </h5>
                        <span class="material-icons">clear</span>
                        <p *ngIf="request.status == 'rejected'">Rifiutata</p>
                    </div>
                    <div class="card-row">
                        <h5>Data: </h5>
                        <span>{{request.date}}</span>
                    </div>
                    <div class="card-row btn">
                        <button (click)="openDetails(request)" class="btn btn-danger">Visualizza</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="column">
        <h1>Richieste di prodotto</h1>
        <div *ngIf="requestProduct.length == 0" class="no-products">
            <h1>Nessuna richiesta</h1>
        </div>
        <div *ngFor="let request of requestProduct">
            <div class="card">
                <div class="card-header">
                    <h2>{{request.title}}</h2>
                </div>
                <div class="card-body">
                    <div *ngIf="request.status == 'pending'" class="card-row">
                        <h5>Stato: </h5>
                        <span class="material-icons">pending</span>
                        <p>In attesa</p>
                    </div>
                    <div *ngIf="request.status == 'accepted'" class="card-row">
                        <h5>Stato: </h5>
                        <span class="material-icons">done</span>
                        <p *ngIf="request.status == 'accepted'">Accettata</p>
                    </div>
                    <div *ngIf="request.status == 'rejected'" class="card-row">
                        <h5>Stato: </h5>
                        <span class="material-icons">clear</span>
                        <p *ngIf="request.status == 'rejected'">Rifiutata</p>
                    </div>
                    <div class="card-row">
                        <h5>Data: </h5>
                        <span>{{request.date}}</span>
                    </div>
                    <div class="card-row btn">
                        <button (click)="openDetails(request)" class="btn btn-danger">Visualizza</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-request-details *ngIf="isShowingDetails" (closeEvent)="onClose($event)"></app-request-details>

