<header>
<!---Barra degli strumenti--->
    <div class="tools-bar">
        <div>
            <div class="tools">
                <!--Menu bottone per impostare la vista a elenco-->
                <button (click)="changeView()" *ngIf="!isActive" class="btn-primary" type="button">
                    <span class="material-icons">view_list</span>
                </button>
                <!--Bottone per impostare la vista a griglia-->
                <button (click)="changeView()" *ngIf="isActive" class="btn-primary" type="button">
                    <span class="material-icons">view_module</span>
                </button>
                <button class="btn-primary" type="button">
                    <span class="material-icons">filter_alt</span>
                </button>
                <button *ngIf="isAuthorized" class="btn-primary" type="button" (click)="addProduct()">
                    <span class="material-icons">add_box</span>
                </button>
            </div>
        </div>
    </div>
</header>
