.tools-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    color: white;
    width: 100%;
    position: sticky;
    z-index: 100;
}

.tools-bar button {
    margin-right: 0.5rem;
}

.more {
    display: none;
}

@media (max-width: 704px) {
    .tools-bar {
        flex-direction: column;
        position: relative;
    }

    .more {
        display: block;
    }

    .tools-bar button {
        margin-right: 0;
        margin-bottom: 0.5rem;
    }
}