<header>
<!---Barra degli strumenti--->
    <div class="tools-bar">
        <!--Se clicco cambia la visualizzazione a griglia con quella a elenco-->
        <div (click)="changeView()" class="view-button" [ngClass]="{'active': isActive}">
            <!--Menu bottone per impostare la vista a elenco-->
            <button *ngIf="!isActive" class="btn-primary" type="button">
                <span class="material-icons">view_list</span>
            </button>
            <!--Bottone per impostare la vista a griglia-->
            <button *ngIf="isActive" class="btn-primary" type="button">
                <span class="material-icons">view_module</span>
            </button>
        </div>
    </div>
</header>
