iframe{
  width: clamp(600px, 800px, 1000px);
  height: clamp(400px, 600px, 800px);
  background-color: transparent
}

.container {
  display:grid;
  justify-content: center;
  justify-items: center;
  align-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.row {
  display:grid;
  justify-content: center;
  justify-items: center;
  align-content: center;
  align-items: center;
  height: 100%;
  
}