.tools-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.5rem;
}

.tools-bar .btn-primary {
    margin-right: 0.5rem;
}

.tools-bar .btn-primary:hover {
    background-color: #e63939;
    border-color: #e63939;
    color: black;
    scale: 1.05;
}