/* Stile del contenitore principale */
.content {
  display: flex; /* Allinea gli elementi in riga */
  justify-content: center;
  align-items: center;
  flex-direction: column; /* Allinea gli elementi in colonna */

  /* Allinea il contenuto al centro in altezza*/
  height: calc(100vh - 80px);

  /* Allina i componenti al centro della pagina rispetto allo spazio non occupato dalla barra laterale */
  margin-left: 250px;
  padding: 20px;
  /* Imposta la larghezza massima del contenitore principale */
  max-width: 100%;
}

h1 {
  margin: 0; /* Rimuovi il margine di default */
}

/* Stili per il contenuto che appare */
.displayContent {
  margin-top: 20px; /* Aggiungi spazio sopra il contenuto aggiuntivo */
}

.container {
  max-width: 600px; /* Limita la larghezza massima del form */
  padding: 20px; /* Spazio intorno al contenitore */
  background-color: #f8f9fa; /* Sfondo leggero per il form */
  border-radius: 8px; /* Bordi arrotondati */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Ombra leggera */
}

/* Stile del bottone di login */
.btn-primary {
  background-color: #ff0000; /* Colore di sfondo */
  border-color: #ff0000; /* Colore del bordo */
  border-radius: 8px;
  color: white; /* Colore del testo */
  font-size: 16px; /* Dimensione del testo */
  padding: 10px 16px; /* Spazio interno */
  width: auto; /* Larghezza massima */
}

.btn-primary:hover {
  background-color: #ff000022; /* Colore di sfondo al hover */
  border-color: #ff000022; /* Colore del bordo al hover */
  color: black; /* Colore del testo al hover */
}

.container .btn-primary {
  /* Allinea il bottone al centro */
  margin: 0 auto;
  display: block;
}

/* Stile delle righe del form */
.form-group.row {
  margin-bottom: 15px; /* Spazio tra le righe del form */
}

/* Uniforma la dimensione e l'allineamento delle etichette */
.col-form-label {
  font-size: 16px; /* Dimensione del testo */
  line-height: 1.5; /* Altezza della linea */
  text-align: right; /* Allineamento testo a destra */
  padding-right: 15px; /* Spazio a destra delle etichette */
}

/* Stile degli input */
.form-control {
  height: 38px; /* Altezza degli input */
  border-radius: 4px; /* Bordi arrotondati degli input */
}

/* Stile della checkbox */
.form-check-input {
  width: 20px; /* Larghezza della checkbox */
  height: 20px; /* Altezza della checkbox */
  margin-top: 10px; /* Rimuovi margini aggiuntivi */
  vertical-align: middle; /* Allinea verticalmente */
}

/* Responsive adjustments */

@media (min-width: 992px) and (max-width: 1099px) {
  .content {
    display: flex; /* Allinea gli elementi in riga */
    margin-left: 0;
    /* Imposta la larghezza massima del contenitore principale */
    max-width: 100%;
  }
}

@media (min-width: 768px) and (max-width: 991.5px) {
  .content {
    display: flex; /* Allinea gli elementi in riga */
    /* Allinea il contenuto al centro rispetto a tutta la larghezza della pagina */
    height: calc(100vh - 80px);
    margin-left: 0;
    /* Imposta la larghezza massima del contenitore principale */
    max-width: 100%;
  }
}

/* Stili per schermi piccoli (Mobile) */
@media (max-width: 767px) {
  .content {
    display: flex; /* Allinea gli elementi in riga */
    /* Allinea il contenuto al centro rispetto a tutta la larghezza della pagina */
    height: calc(100vh - 80px);
    margin-left: 0;
    /* Imposta la larghezza massima del contenitore principale */
    max-width: 100%;
  }
}