/* Stile degli input */
.form-control {
    width: 100%; /* Larghezza massima */
    height: 40px; /* Altezza degli input */
    border-radius: 4px; /* Bordi arrotondati degli input */
    padding-right: 2.375rem; /* Spazio aggiuntivo a destra per il bottone dell'icona */
  }

.form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: #ff0000;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(255, 0, 0, 0.25);
}
.form-control:hover {
  border-color: #ff0000;
}

  /* Stile delle righe del form */
.form-group .form-check-input{
  margin-bottom: 15px; /* Spazio tra le righe del form */
  

}

.position-relative {
  position: relative;
}

.position-absolute {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  border: none;
  background: transparent;
  padding: .375rem .75rem; /* Altezza e padding allineati con il form-control */
}

/* Stile normale dell'icona */
.eye-icon {
  color: #000; /* Colore dell'icona normale */
}

.form-check-input {
  position: absolute;
  opacity: 1;
  cursor: pointer;
}

.form-check-input + label {
  position: relative;
  cursor: pointer;
}

.form-check-input + label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 2px; /* Posiziona il box leggermente più in alto */
  transform: translateY(-50%);
  height: 20px;
  width: 20px;
  background-color: #fff;
  border: 2px solid #ccc;
  border-radius: 4px;
  margin-right: 5px; /* Aggiungi un piccolo margine a destra del box */
}

/* Quando la checkbox è selezionata, cambia il colore del box */
.form-check-input:checked + label:before {
  background-color: #ff0000;
  border-color: #ff0000;
}

/* Opzionale: per aggiungere un'icona di spunta quando la checkbox è selezionata */
.form-check-input:checked + label:after {
  content: '✔';
  position: absolute;
  left: 4px;
  top: 50%;
  transform: translateY(-50%);
  color: #fff;
  font-size: 14px;
}

/* Stile del label per la checkbox quando si passa il mouse sopra */
.form-check-input + label:hover:before {
  border-color: #ff0000;
}
