/* Stile degli input */
.form-control {
    width: 100%; /* Larghezza massima */
    height: 40px; /* Altezza degli input */
    border-radius: 4px; /* Bordi arrotondati degli input */
    padding-right: 2.375rem; /* Spazio aggiuntivo a destra per il bottone dell'icona */
  }

.form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: #b71918;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(255, 0, 0, 0.25);
}
.form-control:hover {
  border-color: #b71918;
}

  /* Stile delle righe del form */
.form-group {
  margin-bottom: 15px;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  position: relative;
}

.position-relative {
  position: relative;
}

.position-absolute {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  border: none;
  background: transparent;
  padding: .375rem .75rem; /* Altezza e padding allineati con il form-control */
}

/* Stile normale dell'icona */
.eye-icon {
  color: #000; /* Colore dell'icona normale */
}

/* Customize the label (the container) */
.form-check {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 1rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;  
}

/* Hide the browser's default checkbox */
.form-check input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 30px;
  width: 30px;
  background-color: #ffffff;
  border-radius: 5px;
}

/* On mouse-over, add a grey background color */
.form-check:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a red background */
.form-check input:checked ~ .checkmark {
  background-color: #b71918;
}

/* Create a custom check inside the checkbox */
.form-check input:checked ~ .checkmark::before {
  content: "";
  position: absolute;
  display: block;
  width: 7px;
  height: 14px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 7px;
  left: 11px;
}

/* Style the label text */
.form-check-label {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  appearance: none;
  background-clip: padding-box;
  margin-left: 10px;
}

.suggestions-container {
  position: absolute;
  top: 100%; /* Posiziona il menu direttamente sotto l'input */
  left: 0;
  right: 0;
  width: 100%; /* Imposta la larghezza uguale a quella del form-group */
  background: #fff; /* o qualsiasi colore di sfondo tu voglia */
  border: 1px solid #ccc; /* Opzionale, per bordi */
  z-index: 10; /* Assicurati che sia sopra gli altri elementi */
  box-shadow: 0px 4px 8px rgba(0,0,0,0.1); /* Opzionale, per ombra */
}

.suggestions-list {
  list-style-type: none; /* Rimuove i puntini degli elementi della lista */
  margin: 0; /* Rimuove il margine di default */
  padding: 0; /* Rimuove il padding di default */
  max-height: 200px; /* Imposta un'altezza massima per il menu */
  overflow-y: auto; /* Abilita lo scroll verticale se necessario */
}

.suggestions-list li {
  padding: 10px;
  border-bottom: 1px solid #eee; /* Opzionale, per bordi tra gli elementi */
  cursor: pointer; /* Cambia il cursore quando passi sopra gli elementi */
}

.suggestions-list li:hover {
  background-color: #f7f7f7; /* Cambia colore allo hover */
}
