<div class="container">
    <div class="content">
        <header>        
            <h1>Restituisci prodotto</h1>
            <!--Croce per chiudere la finestra-->
            <span class="material-icons close" (click)="onClose()">close</span>
        </header>
        <form>
            <div class="form-group">
                <input type="text" class="form-control" id="name" name="name" [(ngModel)]="title" placeholder="Oggetto">
            </div>
            <div class="form-group">
                <textarea class="form-control" id="description" name="description" [(ngModel)]="description" placeholder="Perchè vuoi richiedere questo prodotto?" rows="4" cols="50"></textarea>
            </div>
            <div class="form-group btn-row">
                <button class="btn btn-primary" (click)="onClose()" type="button">Annulla</button>
                <button class="btn btn-primary" (click)="onReturn()" type="button">Salva</button>
            </div>
        </form>
    </div>
</div>
