<header>
<!---Barra di ricerca--->
    <div class="search-bar">
        <!--Menu a tendiba categorie-->
        <div class="dropdown">
            <button class="btn-primary" type="button">
                <span>Categoria</span>
            </button>
            <div class="dropdown-content">
                <a href="#">Hardware</a>
                <a href="#">Software</a>
                <a href="#">Periferiche</a>
                <a href="#">Altro</a>
            </div>
        </div>
        <!--Barra di ricerca-->
        <!--Prende il valore dalla barra di ricerca quando clicco sul bottone-->
        <input type="text" placeholder="Cerca..." [(ngModel)]="searchValue">
        <button class="btn-primary" (click)="search()">
            <span class="material-icons">search</span>
        </button>
    </div>
</header>
