<div class="content" >
  <form class="container">
    <div class="form-group row">
      <mat-form-field>
        <mat-label>Indirizzo email o numero di telefono</mat-label>
        <input matInput placeholder="">
        <mat-error *ngIf="email.invalid">Per favore inserisci un indirizzo email valido</mat-error>
      </mat-form-field>
    </div>

    <div class="form-group row">
      <mat-form-field>
        <mat-label>Password</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'">
        <mat-error *ngIf="password.invalid">La password deve contenere almeno 8 caratteri</mat-error>
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
    </div>

    <div class="form-group row">
      <mat-checkbox [formControl]="hideRequiredControl">Rimani collegato</mat-checkbox>
    </div>

    <div class="form-group row">
        <button class="btn-primary">Accedi</button>
    </div>
  </form>
</div>
