.items {
    list-style: none; /* Rimuovi i punti elenco */
    padding: 0; /* Rimuovi il padding */
    margin: 0 30px;
  }
  
.items li {
  text-align: left;
  text-decoration: none;
  padding: 10px;
  font-size: 1.2em;
  font-weight: bold;
  color: white;
  display: block;
  transition: 0.3s;
  cursor: pointer;
  border-bottom: 1px solid #ccc;
}
  
.items li:hover {
  color: rgb(190, 190, 190);
  text-decoration: none;
}