<div class="container">
    <div class="content">
        <h2>Il tuo profilo</h2>
        <form>
            <div class="form-group">
                <div class="label">Nome</div>
                <input [disabled]="true" type="text" class="form-control" name="firstName" placeholder="Nome" id="profile-form-input" [(ngModel)]="firstName">
            </div>
            <div class="form-group">
                <div class="label">Cognome</div>
                <input [disabled]="true" type="text" class="form-control" name="lastName" placeholder="Cognome" id="profile-form-input" [(ngModel)]="lastName">
            </div>
            <div class="form-group">
                <div class="label">Email</div>
                <input [disabled]="true" type="email" class="form-control" name="email" placeholder="Email" id="profile-form-input" [(ngModel)]="email">
            </div>
            <div class="form-group">
                <div class="label">Ruolo</div>
                <input [disabled]="true" type="role" class="form-control" name="role" placeholder="Ruolo" id="profile-form-input" [(ngModel)]="role">
            </div>
        </form>
    </div>
</div>
