.container { 
  display: flex; /* Allinea gli elementi in riga */
  justify-content: center;
  align-items: center;
  flex-direction: column; /* Allinea gli elementi in colonna */

  /* Allinea il contenuto al centro in altezza*/
  height: calc(100vh - 80px);
  padding: 20px;
  /* Imposta la larghezza massima del contenitore principale */
  max-width: 100%;
}

.content {
  /* Allinea i componenti in riga */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  

}

.component {
  /* Ogni componente è una card di 500x300px sono allineati uno di fianco all'altro o uno sotto l'altro con flexbox */ 
  width: 500px;
  height: 300px;
  margin: 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: 0.3s;  

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* Responsive adjustments */
@media (min-width: 992px) and (max-width: 1099px) {
  .container {
    /* Allinea i componenti in colonna */
    flex-direction: column;
    width: 100%;
    margin: 0;
    padding: 0;
    height: auto;    
  }
}

@media (min-width: 768px) and (max-width: 991.5px) {
  .container {
    /* Allinea i componenti in colonna */
    flex-direction: column;
    width: 100%;
    margin: 0;
    padding: 0;
    height: auto;
  }
}

/* Stili per schermi piccoli (Mobile) */
@media (min-width: 576px) and (max-width: 767px) {
  .container {
    flex-direction: column;
    height: auto;
    width: 100%;
    margin: 0;
    padding: 0;
    height: auto;
  }
}

@media (max-width: 575.98px) {
  .container {
    /* Allinea i componenti in colonna */
    flex-direction: column;
    height: auto;
    width: 100%;
    margin: 0;
    padding: 0; 
    height: auto;
  }
}

  