/* Container principale */
.container {
    /* posiziona al centro della pagina */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    padding: 20px;

}

/* Card del prodotto */
.product-card {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    padding: 20px;
    height: 50%;
    width: 100%;
}

.row {
    /* Posiziona gli elementi all'interno della card in riga */
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
}
.column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

/* Messaggio di assenza prodotti */
.no-products {
    width: 100%;
    text-align: center;
    padding: 20px;
    font-size: 1.5rem;
}

.item-img img, .item-no-img span {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.item-no-img span{
    /* Aumenta le dimesioni del material icon */
    font-size: 200px;
}

.item-img, .item-no-img {
    width: clamp(200px, 100%, 300px);
    height: clamp(200px, 100%, 300px);
}
