<div class="container">
  <!-- Inizia la card del prodotto -->
  <div class="product-card">
    <div class="product-header">
        <button class="btn-back">
            <span class="material-icons" [routerLink]="[previusPage]">arrow_back</span>
        </button>
        <h1>{{ name }}</h1>
    </div>
    <h2 *ngIf="!(description.length == 0 || description == null)">{{ description }}</h2>
    <h2 *ngIf="description.length == 0 || description == null">Nessuna descrizione</h2>
    <div class="row">
      <div class="column">
        <div *ngIf="image.length>0" class="item-img" >
            <img [src]="image">
        </div>
        <div *ngIf="image.length==0" class="item-no-img">
          <span class="material-icons">image_not_supported</span>
        </div>
      </div>
      <div class="column">
        <div *ngIf="previusPage == '/product-management'" class="product-details">
          <h5>Id: <span>{{ idItem }}</span></h5>
          <h5>Posizione: <span>{{ location }}</span></h5>
          <h5>Disponibilità: <span>{{ assigned ? 'Non disponibile' : 'Disponibile' }}</span></h5>
          <h5 *ngIf="assigned">Assegnato a: <span>{{ assignedUser }}</span></h5>

      </div>
      <div *ngIf="!(previusPage == '/product-management')" class="product-buttons">
        <button *ngIf="!assigned" class="btn-primary" (click)="requestProduct()">Richiedi</button>
        <button *ngIf="assigned" class="btn-primary" (click)="returnProduct()">Restituisci</button>
      </div>
    </div>
  </div>
</div>
<div *ngIf="requestProductWindow" class="popup-window">
  <app-product-request *ngIf="selectedProduct" [product]="selectedProduct" (OnCloseEvent)="onClose()"></app-product-request>
</div>
<div *ngIf="returnProductWindow" class="popup-window">
  <app-product-return *ngIf="selectedProduct" [product]="selectedProduct" (onEvent)="onClose()"></app-product-return>
</div>