div ul {
  list-style: none;
  width: 100%;
  margin: 0;
  padding: 0;
  /* Allinea uno sotto l'altro */
  display: flex;
  flex-direction: column;
}
div ul li {
  padding: 20px 0;
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #ccc;
  cursor: pointer;
}
div ul li:hover {
  background-color: #ccc;
}
