
<div class="container">
    <div class="content">
        <header>        
            <h1>Aggiungi prodotto</h1>
            <!--Croce per chiudere la finestra-->
            <span (click)="onCloseEvent()" class="material-icons close">close</span>
        </header>
        <form>
            <div class="form-group">
                <input type="text" class="form-control" id="name" placeholder="Nome">
            </div>
            <div class="form-group">
                <input type="text" class="form-control" id="type" placeholder="Categoria">
            </div>
            <div class="form-group">
                <input type="text" class="form-control" id="location" placeholder="Posizione">
            </div>
            <div class="form-group">
                <!--Metti un textfield-->
                <textarea class="form-control description" name="myTextArea" placeholder="Descrizione" rows="4" cols="50"></textarea>
            </div>
            <div class="form-group">
                <span class="form-control" *ngIf="images.length==0"> Aggiungi immagine </span>
                <div class="form-control" *ngFor="let image of images" class="image">
                    <img [src]="image">
                    <span class="material-icons">delete</span>
                </div>
            </div>
            <div class="form-group btn-row">
                <!--Bottone per aggiungere le immagini-->
                <button (click)="onCloseEvent()" class="btn btn-primary" type="button">Annulla</button>
                <button class="btn btn-primary" type="button">Salva</button>
            </div>
        </form>
    </div>
</div>
