.menu {
  width: 250px; /* o la larghezza desiderata */
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  background: #ff0000; /* il colore rosso mostrato */
  color: white;
}

.menu-header {
  padding: 20px; /* Spazio intorno al logo */
  text-align: center; /* Allinea il logo al centro */
}

.menu-header h3 {
  color: white; /* Colore del testo */
  font-size: 1.2em; /* Dimensione del testo */
  margin-top: 0; /* Spazio sopra il testo */
  margin-bottom: 20px; /* Spazio sotto il testo */
}

.menu-header img {
  max-width: 100%; /* Imposta una larghezza massima */
  height: auto; /* Mantiene il rapporto di aspetto */
  max-height: 150px; /* Altezza massima del logo */
  margin-bottom: 10px; /* Spazio sotto il logo se necessario */
}

.arrow{
  position: absolute;
  top: 50%;
  margin-left: 250px;
  padding: 10px;
  color: red;
  cursor: pointer;
  transform: rotate(0deg);
}

.components {
  list-style: none; /* Rimuovi i punti elenco */
  padding: 0; /* Spazio sopra il primo elemento */
  margin: 0;
}

.only-mobile {
  display: none;
}

/* Responsive adjustments */
@media (min-width: 992px) and (max-width: 1099px) {
  .menu {
    display: none;
  }
  .arrow {
    transform: rotate(180deg);
    margin-left: 0;
    padding: 0;
  }
}
@media (min-width: 768px) and (max-width: 991.5px) {
  .menu {
    display: none;
  }
}
@media (max-width: 767px){
  .menu {
    display: none;
  }
  .arrow {
    display: none;
    padding: 0;
  }
  .only-mobile {
    display: block;
  }
  .menu-toggle {
    width: 100%;
    height: auto;
    background: #ff0000;
    transition: all 0.3s;
    list-style: none;
    /* Metti gli elementi in linea */
    display: flex;
    margin: 0;
    padding: 0;
    min-height: 55px;
    max-height: 60px;
  }
  .menu-toggle h3 {
    color: white;
    display: block;
    width: 100%;
    margin: 10% 15%;
  }
  .menu-button{
    /* Allinea il contenuto al centro */
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .menu-button:hover {
    background: rgba(255, 255, 255, 0.5);
    cursor: pointer;
  }
  .menu-toggle .menu-button {
    padding: 2% 6%;
    /* Allinea il pulsante tutto a destra */
    margin-left: auto;
  }
  .menu-icon{
    cursor: pointer;
  }
  .line {
    display: block;
    width: 30px;
    height: 4px;
    background-color: white; /* Colore delle linee */
    margin: 25% 0; /* Spazio tra le linee */
  }
}

